
.header{
    position: relative;
    background: url('../../assets/images/serv-back-header.jpg') no-repeat top right/cover;
    height: 792px;
    overflow: hidden;
    box-sizing: border-box;
}
.hero-serv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 16px;
    position: relative;
    width: 471px;
    margin: 200px 0 0 900px;
    z-index: 2;
}
.title{
    position: relative;
    color: rgb(40, 108, 15);
    font-family: Cairo;
    font-size: 40px;
    font-weight: 700;
    line-height: 74.96px;
    text-align: right;
  }
  .title em{
    font-style: normal;
    background: linear-gradient(to right,#B19E84,#4B4338 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
