:root {
	--color-dark: #736b60;
	--color-darkest: #b4237;
	--color-light: #ebe7d9;
	--color-primary:#e2c044;
	--color-Beige:#a49694;
	--color-bg-body: var(--color-light);

	--distance-primary: 50px;
	--padding-primary: var(--distance-primary);
	--margin-primary: var(--distance-primary);
	--border-radius-primary: calc(var(--distance-primary) / 2);

	--font-family-primary: "Cairo", sans-serif;
	--font-weight-bold: 700;
	--font-weight-regular: 400;
	--font-weight-Light: 300;

}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&display=swap');



body{
	background-color: var(--color-bg-body);
	font-family: var(--font-family-primary);
	 

}
